<nav class="w-[280px] h-screen p-2 fixed top-0 left-0">
  <div
    class="w-full h-full bg-white shadow-2xl rounded-[2rem] py-6 px-4 flex flex-col justify-between overflow-hidden"
  >
    <header class="flex flex-col gap-4">
      <h4>LG</h4>
      <ul class="flex flex-col gap-2">
        <li
          class="bg-gray-100 text-violet-500 flex gap-3 items-center p-3 rounded-2xl active relative"
        >
          <span class="text-xs">icon</span>
          <a class="text-sm" href="">Links</a>
        </li>
        <li class="flex gap-3 items-center p-3 rounded-2xl hover:bg-gray-100">
          <span class="text-xs">icon</span>
          <a class="text-sm" href="">Shop</a>
        </li>
        <li class="flex gap-3 items-center p-3 rounded-2xl hover:bg-gray-100">
          <span class="text-xs">icon</span>
          <a class="text-sm" href="">Appearance</a>
        </li>
        <li class="flex gap-3 items-center p-3 rounded-2xl hover:bg-gray-100">
          <span class="text-xs">icon</span>
          <a class="text-sm" href="">Analytics</a>
        </li>
        <li class="flex gap-3 items-center p-3 rounded-2xl hover:bg-gray-100">
          <span class="text-xs">icon</span>
          <a class="text-sm" href="">Settings</a>
        </li>
      </ul>
    </header>

    <div class="flex flex-col gap-2">
      <button class="w-full py-3 bg-gray-700 text-white rounded-full"
        >Try Pro for free</button
      >
      <a
        class="w-full border border-gray-500 flex gap-2 items-center rounded-full p-1"
        href="/profile"
      >
        <img
          class="w-10 rounded-full"
          src="https://ugc.production.linktr.ee/43ed3ce9-f81b-41e8-ae69-32b1a929c2a6_454143336-407889355640745-4715048106332337147-n.jpeg?io=true&size=avatar"
          alt=""
        />
        <span>@talismike</span>
      </a>
    </div>
  </div>
</nav>
